@import 'bootstrap/dist/css/bootstrap.min.css';

.truncate-3-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limiting the number of lines */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/* Hiding dropdown button arrows :) */
.dropdown-toggle::after {
    display: none !important;
}

.overflow-auto::-webkit-scrollbar {
    display: none;
}

/* ------ Web Page Scroller ------*/

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tooltip .arrow::before {
    display: none !important;
}