@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    overflow-x: hidden;
}

.truncate-3-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Limiting the number of lines */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

/* Hiding dropdown button arrows :) */
.dropdown-toggle::after {
    display: none !important;
}

.overflow-auto::-webkit-scrollbar {
    display: none;
}

/* ------ Web Page Scroller ------*/

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-horizontal {
    height: 2px;
    /* Adjust the height of the horizontal scrollbar */
}

/* Handle for Horizontal Scrollbar */
::-webkit-scrollbar-thumb:horizontal {
    background: #000;
}

/* Handle on hover for Horizontal Scrollbar */
::-webkit-scrollbar-thumb:horizontal:hover {
    background: #000000;
}

.tooltip .arrow::before {
    display: none !important;
}

.scroll-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.content-container {
    display: flex;
    white-space: nowrap;
    transform: translateX(0);
    transition: transform 0.3s ease;
}


/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
}

.loader:before {
    content: "Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔";
    white-space: pre;
    display: inline-block;
    animation: l39 1s infinite steps(11) alternate;
}

@keyframes l39 {
    100% {
        transform: translateY(-100%)
    }
}


/* Status.css */
.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    padding: 10px;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
    background-color: transparent;
    /* To remove the default background color */
    border: none;
    color: white;
    /* Color of the arrow icon */
}